/* ==============================================================
    Foundation
    ==============================================================*/
@import url(reset.css);
html {
  max-width: 100%;
  margin: 0 auto;
  font-size: 62.5%; }

body {
  overflow-x: hidden; }

body > .l-aside {
  height: auto; }

/* ==============================================================
    Layout
    ==============================================================*/
.l-wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  overflow: hidden; }
  .l-wrap:after {
    content: "";
    display: block;
    clear: both; }

.l-header {
  width: 100%;
  height: 109px;
  background-color: #FFF7EF; }

.l-main {
  position: relative;
  width: 80%;
  height: 100%;
  float: left; }

.l-aside {
  width: 20%;
  height: 100%;
  float: right;
  background-color: #F2EDE9;
  padding-bottom: 32768px;
  margin-bottom: -32768px; }

.l-footer {
  width: 100%;
  height: 75px;
  margin: 0 auto;
  background-color: #9D8670; }

/* ==============================================================
    Object
    ==============================================================*/
/* Project */
.p-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .p-header h1 {
    padding-left: 50px;
    color: #707070;
    font-size: 3.2vw;
    line-height: 109px; }

.p-header__seach {
  width: 40%;
  text-align: right;
  padding-right: 20px; }
  .p-header__seach .p-header__seach--text {
    box-sizing: border-box;
    width: 40%;
    height: 23px;
    padding-left: 20px;
    border: solid 1px #707070;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: url(../img/seach.png);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 5px center;
    outline: 0; }
  .p-header__seach .p-header__seach--btn {
    box-sizing: border-box;
    width: 20%;
    height: 23px;
    border: solid 1px #707070;
    border-radius: 5px;
    background: linear-gradient(to bottom, #F2EDE9, #DED8D3);
    color: #707070;
    font-size: 1rem; }

.p-header__hamburger {
  display: none; }

.p-header__nav {
  padding: 40px 0 40px;
  background-color: #F2EDE9; }
  .p-header__nav .p-header__nav--icon {
    padding-right: 30px;
    text-align: right;
    font-size: 2rem;
    color: #707070; }
  .p-header__nav a {
    width: 130px;
    text-decoration: none; }
    .p-header__nav a:link, .p-header__nav a:visited, .p-header__nav a:hover, .p-header__nav a:active {
      color: #707070; }
  .p-header__nav h2 {
    margin: 46px 0 46px 0;
    padding-left: 30px;
    color: #707070;
    font-weight: bold;
    font-size: 2rem; }
  .p-header__nav h3 {
    margin: 46px 0 46px 0;
    padding-left: 30px;
    color: #707070;
    font-size: 1.2rem;
    font-weight: bold; }
  .p-header__nav ul {
    width: 240px;
    padding-left: 20px;
    list-style: none; }
    .p-header__nav ul li {
      margin: 23px;
      font-size: 1rem; }
  .p-header__nav .p-header__list {
    height: 100%;
    overflow-x: hidden; }

.p-article__img {
  box-sizing: border-box;
  padding-left: 50px;
  background-image: url("../img/dummysite.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  line-height: 265px; }
  .p-article__img p {
    font-size: 2rem; }

.p-section-map {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  background-image: url("../img/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.p-section-map__inner {
  box-sizing: border-box;
  width: 475px;
  height: auto;
  padding: 50px;
  background: rgba(0, 0, 0, 0.3); }
  .p-section-map__inner .p-section__line {
    position: absolute;
    width: 40px;
    height: 20px;
    top: 70px;
    display: block;
    border-bottom: solid 1px #ffffff; }
  .p-section-map__inner h2 {
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 1.8rem; }
  .p-section-map__inner p {
    color: #ffffff;
    font-size: 0.8rem; }

/*archive*/
.p-article__img--archive {
  box-sizing: border-box;
  height: 120px;
  padding-left: 50px;
  background-color: #000000;
  background-image: url("../img/archiveimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff; }
  .p-article__img--archive p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 120px; }
    .p-article__img--archive p span {
      font-size: 1rem;
      vertical-align: middle; }

.p-section__pagenation ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }
  .p-section__pagenation ul span {
    margin: 20px 5px;
    color: #707070;
    font-weight: bold; }
    .p-section__pagenation ul span a {
      text-decoration: none;
      text-decoration: none; }
      .p-section__pagenation ul span a:link, .p-section__pagenation ul span a:visited, .p-section__pagenation ul span a:hover, .p-section__pagenation ul span a:active {
        color: #707070; }
  .p-section__pagenation ul li {
    width: 17.5px;
    height: 17.5px;
    margin: 0 5px;
    font-size: 1rem;
    border: solid 1px #707070;
    font-weight: bold;
    text-align: center;
    line-height: 17.5px; }
    .p-section__pagenation ul li a {
      text-decoration: none; }
      .p-section__pagenation ul li a:link, .p-section__pagenation ul li a:visited, .p-section__pagenation ul li a:hover, .p-section__pagenation ul li a:active {
        color: #707070; }
  .p-section__pagenation ul li.p-section__pagenation--first {
    background-color: #707070; }
    .p-section__pagenation ul li.p-section__pagenation--first a {
      text-decoration: none; }
      .p-section__pagenation ul li.p-section__pagenation--first a:link, .p-section__pagenation ul li.p-section__pagenation--first a:visited, .p-section__pagenation ul li.p-section__pagenation--first a:hover, .p-section__pagenation ul li.p-section__pagenation--first a:active {
        color: #ffffff; }

/*single*/
.p-article__img--single {
  box-sizing: border-box;
  height: 250px;
  padding-left: 50px;
  background-color: #000000;
  background-image: url("../img/singleimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff; }
  .p-article__img--single p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 250px; }
    .p-article__img--single p span {
      font-size: 1rem;
      vertical-align: middle; }

.p-section__p--single {
  width: 87%;
  margin: 0 auto;
  font-size: 1rem; }

.p-section__h2--single {
  width: 87%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.8rem; }

.p-section__h3--single {
  width: 87%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.4rem; }

.p-section__h4--single {
  width: 87%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1rem; }

.p-section__h5--single {
  width: 87%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1rem; }

.p-section__h6--single {
  width: 87%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1rem; }

.p-article--quote {
  box-sizing: border-box;
  width: 87%;
  margin: 0 auto;
  padding: 20px;
  font-size: 1rem;
  background-color: #F5F5F5; }
  .p-article--quote blockquote {
    padding-bottom: 50px; }

.p-article__section--singledetailes {
  width: 100%;
  text-align: center; }

.p-article__img--singledetailes {
  width: 87%;
  margin: 30px 0; }

.p-article__inline {
  width: 87%;
  height: 119px;
  margin: 0 auto;
  background-color: #F5F5F5;
  margin-top: 50px; }

.p-article__table {
  width: 87%;
  margin: 30px auto;
  border-bottom: solid 1px #707070;
  border-right: solid 1px #707070; }

.p-article__table--row {
  display: table;
  width: 100%;
  margin: 0 auto; }

.p-article__table--Columnleft, .p-article__table--Columnright {
  box-sizing: border-box;
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
  background-color: #FFFFFF;
  height: 38.5px;
  border: solid 1px #707070;
  border-bottom: 0px;
  border-right: 0px;
  font-size: 1.2em; }

.p-article__table--Columnleft {
  width: 32%; }

.p-article__table--Columnright {
  width: 68%; }

.p-article__btn {
  width: 87%;
  margin: 0 auto; }
  .p-article__btn button {
    width: 32%;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
    border: solid 1px #707070;
    border-radius: 15px;
    background: linear-gradient(to bottom, #F2EDE9, #DED8D3);
    font-size: 1.2em; }
    .p-article__btn button:focus {
      outline: 0; }

.p-article__p {
  width: 87%;
  margin: 0 auto;
  margin-bottom: 150px;
  font-size: 1em; }

/*page*/
.p-article__img--page {
  box-sizing: border-box;
  height: 250px;
  padding-left: 50px;
  background-color: #000000;
  background-image: url("../img/shop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff; }
  .p-article__img--page p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 250px; }
    .p-article__img--page p span {
      font-size: 1rem;
      vertical-align: middle; }

.p-aside a {
  width: 130px;
  text-decoration: none; }
  .p-aside a:link, .p-aside a:visited, .p-aside a:hover, .p-aside a:active {
    color: #707070; }
.p-aside h2 {
  margin: 46px 0 46px 0;
  padding-left: 30px;
  color: #707070;
  font-size: 2rem;
  font-weight: bold; }
.p-aside h3 {
  margin: 46px 0 46px 0;
  padding-left: 30px;
  color: #707070;
  font-size: 1.2rem;
  font-weight: bold; }
.p-aside ul {
  width: 240px;
  padding-left: 20px;
  list-style: none; }
  .p-aside ul li {
    margin: 23px;
    font-size: 1rem; }

.p-footer {
  color: #ffffff;
  text-align: center; }
  .p-footer span {
    font-size: 0.7rem; }
  .p-footer ul {
    display: flex;
    justify-content: center;
    list-style: none; }
  .p-footer li {
    font-size: 1rem;
    padding: 0 5px 0 5px;
    margin: 20px 0 20px 0; }
    .p-footer li:first-child {
      border-right: solid 1px #ffffff; }

/* component */
.c-section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.c-section__item {
  width: 313px;
  height: 597px;
  padding: 20px  10px 0 10px;
  position: relative; }
  .c-section__item .c-section__line {
    position: absolute;
    width: 35px;
    height: 20px;
    display: block;
    border-bottom: solid 2px #ffffff; }
  .c-section__item h2 {
    color: #ffffff;
    font-size: 4rem; }

.c-section__item--takeout {
  margin: 50px 25px 50px 50px;
  background-image: url(../img/takeout.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.c-section__item--eatin {
  margin: 50px 50px 50px 25px;
  background-image: url(../img/eatin.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.c-section__inner {
  box-sizing: border-box;
  width: 85%;
  height: 87px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7); }
  .c-section__inner h3 {
    margin-bottom: 10px;
    color: #3C2A10;
    font-size: 1.2rem; }
  .c-section__inner p {
    color: #3C2A10;
    font-size: 0.8rem; }

.c-section__inner1 {
  position: absolute;
  left: 23.5px;
  bottom: 117px; }

.c-section__inner2 {
  position: absolute;
  left: 23.5px;
  bottom: 20px; }

/*archive*/
.c-section__h2--archive {
  width: 87%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.8rem; }

.c-section__p--archive {
  width: 87%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1rem; }

.c-section__card--archive {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 235px; }

.c-section__sampleimage--archive {
  box-sizing: inherit;
  width: 44%;
  height: 235px;
  background-image: url(../img/sampleimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.c-section__text--archive {
  position: relative;
  box-sizing: inherit;
  width: 44%;
  height: 235px;
  padding: 20px;
  background-color: #3C2B1C; }
  .c-section__text--archive h3, .c-section__text--archive h4, .c-section__text--archive P {
    color: #ffffff; }
  .c-section__text--archive h3 {
    margin-bottom: 20px;
    font-size: 1.8rem; }
  .c-section__text--archive h4 {
    margin-bottom: 20px;
    font-size: 1.2rem; }

.c-section__btn--archive {
  position: absolute;
  left: calc(50% - 73px);
  bottom: 20px;
  box-sizing: border-box;
  width: 146px;
  height: 38px;
  margin: 0 auto;
  background-color: #F2EDE9;
  color: #707070;
  font-size: 1rem;
  text-align: center;
  line-height: 38px;
  border-radius: 25px; }
  .c-section__btn--archive a {
    text-decoration: none;
    text-decoration: none; }
    .c-section__btn--archive a:link, .c-section__btn--archive a:visited, .c-section__btn--archive a:hover, .c-section__btn--archive a:active {
      color: #707070; }

/*single*/
.c-article__detailesbox {
  content: "";
  display: block;
  clear: both;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden; }

.c-article__box--detailesimage1 {
  box-sizing: border-box;
  width: 43%;
  height: 179px;
  float: left; }

.c-article__img--detailesimage {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%; }

.c-article__detailesol {
  margin-bottom: 50px; }

.c-article__box--detailestext1 {
  box-sizing: border-box;
  width: 54%;
  float: right;
  text-align: left; }

.c-article__box--detailesimage2 {
  box-sizing: border-box;
  width: 43%;
  height: 179px;
  float: right; }

.c-article__box--detailestext2 {
  box-sizing: border-box;
  width: 54%;
  float: left;
  text-align: left; }

.c-article__box--detailesimage3 {
  box-sizing: border-box;
  width: 43%;
  margin: 0 auto;
  height: 179px; }

.c-article__detailesthumb {
  content: "";
  display: block;
  clear: both;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px; }

.c-article__detailesul {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  list-style-type: none; }
  .c-article__detailesul img {
    width: 31%;
    height: 129px;
    object-fit: cover;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px; }

.c-article__detailes {
  width: 87%;
  margin: 0 auto; }

.c-article__detaileslist1 {
  padding-left: 20px;
  margin: 20px 0; }

.c-article__detaileslist2 {
  padding-left: 60px;
  margin: 20px; }

/* utility */
#open_nav {
  cursor: pointer; }

#nav {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  overflow: hidden;
  z-index: 200; }

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7); }

.show {
  transform: translate3d(-300px, 0, 0); }

.fixed {
  position: fixed;
  width: 100%;
  height: 100%; }

@media screen and (max-width: 768px) {
  body {
    overflow-y: auto; }

  .l-main {
    width: 100%; }

  .l-aside {
    display: none; }

  .p-header__hamburger {
    display: flex;
    flex: 0 0 0px;
    align-self: center;
    margin-left: 16px;
    text-align: center;
    color: #707070;
    font-size: 2rem;
    font-weight: bold; } }

/*# sourceMappingURL=style.css.map */
