@charset "utf-8";

.c-section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.c-section__item {
  width: 313px;
  height: 597px;
  padding: 20px  10px 0 10px;
  position: relative;
  .c-section__line {
      position: absolute;
      width: 35px;
      height: 20px;
      display: block;
      border-bottom: solid 2px #ffffff;
  }
  h2 {
      color: #ffffff;
      font-size: 4rem;
  }
}

.c-section__item--takeout {
  margin: 50px 25px 50px 50px;
  background-image: url(../img/takeout.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c-section__item--eatin {
  margin: 50px 50px 50px 25px;
  background-image: url(../img/eatin.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c-section__inner {
  box-sizing: border-box;
  width: 85%;
  height: 87px;
  padding: 10px;
  background: rgba(255,255,255,0.7);
  h3 {
      margin-bottom: 10px;
      color: #3C2A10;
      font-size: 1.2rem;
  }
  p {
      color: #3C2A10;
      font-size: 0.8rem;
  }
}

.c-section__inner1 {
  position: absolute;
  left: 23.5px;
  bottom: 117px;
}

.c-section__inner2 {
  position: absolute;
  left: 23.5px;
  bottom: 20px;
}

/*archive*/

.c-section__h2--archive {
  width: 87%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.8rem;
}

.c-section__p--archive {
  width: 87%;
  margin: 0 auto;
  padding-bottom:30px;
  font-size: 1rem;
}

.c-section__card--archive {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 235px;
}

.c-section__sampleimage--archive {
  box-sizing: inherit;
  width: 44%;
  height: 235px;
  background-image: url(../img/sampleimage.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c-section__text--archive {
  position: relative;
  box-sizing: inherit;
  width: 44%;
  height: 235px;
  padding: 20px;
  background-color: #3C2B1C;

  h3,h4,P {
      color: #ffffff;
  }
  h3 {
      margin-bottom: 20px;
      font-size: 1.8rem;
  }
  h4 {
      margin-bottom: 20px;
      font-size: 1.2rem;
  }
}

.c-section__btn--archive {
  position: absolute;
  left: calc(50% - 73px);
  bottom: 20px;
  box-sizing: border-box;
  width: 146px;
  height: 38px;
  margin: 0 auto;
  background-color: #F2EDE9;
  color: #707070;
  font-size: 1rem;
  text-align: center;
  line-height: 38px;
  border-radius: 25px;
  a {
    text-decoration: none;
    text-decoration: none;
    &:link,&:visited,&:hover,&:active {
        color: #707070;
    }
  }
}

/*single*/

.c-article__detailesbox {
  content: "";
  display: block;
  clear: both;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden; 
}

.c-article__box--detailesimage1 {
  box-sizing: border-box;
  width: 43%;
  height: 179px;
  float: left;
}

.c-article__img--detailesimage {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

.c-article__detailesol {
  margin-bottom: 50px;
}

.c-article__box--detailestext1 {
  box-sizing: border-box;
  width: 54%;
  float: right;
  text-align: left;
}

.c-article__box--detailesimage2 {
  box-sizing: border-box;
  width: 43%;
  height: 179px;
  float: right;
}

.c-article__box--detailestext2 {
  box-sizing: border-box;
  width: 54%;
  float: left;
  text-align: left;
}

.c-article__box--detailesimage3 {
  box-sizing: border-box;
  width: 43%;
  margin: 0 auto;
  height: 179px;
}

.c-article__detailesthumb {
  content: "";
  display: block;
  clear: both;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.c-article__detailesul {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  list-style-type: none;
  img{
    width: 31%;
    height: 129px;
    object-fit: cover;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.c-article__detailes {
  width: 87%;
  margin: 0 auto;
}

.c-article__detaileslist1 {
  padding-left: 20px;
  margin: 20px 0;
}

.c-article__detaileslist2 {
  padding-left: 60px;
    margin: 20px;
}