@charset "utf-8";

.p-article__img {
    box-sizing: border-box;
    padding-left: 50px;
    background-image: url("../img/dummysite.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    line-height: 265px;
    p {
        font-size: 2rem;
    }
}

.p-section-map {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    background-image: url("../img/map.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.p-section-map__inner {
    box-sizing: border-box;
    width: 475px;
    height: auto;
    padding: 50px;
    background: rgba(0,0,0,0.3);
    .p-section__line {
        position: absolute;
        width: 40px;
        height: 20px;
        top: 70px;
        display: block;
        border-bottom: solid 1px #ffffff;
    }
    h2 {
        margin-bottom: 50px;
        color: #ffffff;
        font-size: 1.8rem;
    }
    p {
        color: #ffffff;
        font-size: 0.8rem;
    }
}

.p-article__img--archive {
    box-sizing: border-box;
    height: 120px;
    padding-left: 50px;
    background-color: #000000;
    background-image: url("../img/cheeseburger.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    p {
        font-size: 2rem;
        font-weight: bold;
        line-height: 120px;
        span {
            font-size: 1rem;
            vertical-align: middle;
        }
    }
}

.p-section__pagenation {
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        span{
            margin: 20px 5px;
            color: #707070;
            font-weight: bold;
            a {
                text-decoration: none;
                text-decoration: none;
                &:link,&:visited,&:hover,&:active {
                    color: #707070;
                }
              }
        }
        li{
            width: 17.5px;
            height: 17.5px;
            margin: 0 5px;
            font-size: 1rem;
            border: solid 1px #707070;
            font-weight: bold;
            text-align: center;
            line-height: 17.5px;
            a {
                text-decoration: none;
                &:link,&:visited,&:hover,&:active {
                    color: #707070;
                }
              }
        }
        li.p-section__pagenation--first{
            background-color: #707070;
            a {
                text-decoration: none;
                &:link,&:visited,&:hover,&:active {
                    color: #ffffff;
                }
            }
        }
    }
}