@charset "utf-8";

.p-article__img {
    box-sizing: border-box;
    padding-left: 50px;
    background-image: url("../img/dummysite.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    line-height: 265px;
    p {
        font-size: 2rem;
    }
}

.p-section-map {
    position: absolute;
    left: 0;
    right: 0;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    height: 321px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    background-image: url("../img/map.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.p-section-map__inner {
    position: relative;
    box-sizing: border-box;
    width: 475px;
    height: 321px;
    padding: 50px;
    background: rgba(0,0,0,0.3);
    .p-section__line {
        position: absolute;
        width: 40px;
        height: 20px;
        top: 70px;
        display: block;
        border-bottom: solid 1px #ffffff;
    }
    h2 {
        margin-bottom: 50px;
        color: #ffffff;
        font-size: 1.8rem;
    }
    p {
        color: #ffffff;
        font-size: 0.8rem;
    }
}